h1 {
  background-color:#8b4513;
  color:#fff;
  text-align:center;
  line-height:1.5;
}
dl {
  color: #333;
  margin-left:20px;
}
dl dt {
  margin: 0 0 7px 0;
  border-left: solid 16px #8b4513;
  padding-left: 5px;
}
dl dd {
  margin-bottom:2em;
}
