.fc-center h2{
	background: transparent!important;
	color: black!important;
}
.fc-head .fc-sat{
	background-color:blue!important;
	color:white;
}
.fc-head .fc-sun{
	background-color:red!important;
	color:white;
}

.fc-time-grid-container{
/*
	display:none;
*/
}
.fc-time{
/*
	color:black;
*/
	font-weight:bold;
}
.fc-title{
	font-size:12px;
/*
	color:black;
*/
}
.fc-content{
	padding: 5px 5px;
	/*height: 28px;*/
	line-height: 1.5em;
}
.fc-content-skeleton{
	min-height:120px;
}
.fc-day-grid-event .fc-content{
	white-space: normal!important;
}
.fc-day-grid-event{
	margin: 5px 2px 5px!important;
}
.fc-event{
/*	background: #ffee88!important; */
/*	border: 1px solid #FFFF33!important; */
	-moz-border-radius: 10px!important;
	-webkit-border-radius: 10px!important;
	border-radius: 10px!important;
}
.fc-past{
	background: whitesmoke;
	border-color: "#ddd";
}
.fc-other-month{
	background: #efefef;
}
.fc-unthemed .fc-today{
/*
	background: yellow!important;
	opacity: 0.1!important;
*/
}
.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}
