/* CSS Document */
/* 基本設定 */
body {
	width:800px;
	margin:0px;
	padding:0px;
	background-color:#fff;
	color:#333333;
	font-size:90%;
	line-height:110%;
}
img {
	margin:0px;
	padding:0px;
}
p {
	margin:0px;
	padding:0px;
}
/* 枠外ショップ名 */
h1.shopname {
	margin:10px 5px;
	padding:0px;
	font-size:100%;
}
hr.cl {
	clear:both;
	height:0px;
	visibility:hidden;
}
/* 商品名 */
div.titlebox {
	width:800px;
	background-color:#663300;
}
h2.menutitle {
	font-size:18pt;
	color:#ffffff;
	font-weight:bold;
	margin:10px 0px;
	padding:10px;
}
/* メインエリア */
div.mainbox {
	margin:10px;
}
.mainimg {
	float:left;
}
.mainimg img {
	margin-right:20px;
}
div.maincom {
	float:left;
	width:250px;
}
.title {
	margin-top:20px;
	font-size:16px;
	font-weight:bold;
	color:#990000;
}
.kiji {
	margin-top:10px;
	margin-left:5px;
}
.shiyo {
	margin-top:10px;
	margin-left:10px;
	border:1px dotted #663300;
	background-color:#ffffcc;
	padding:5px;
}
.kakaku {
	margin-top:50px;
	font-size:18px;
	font-weight:bold;
	color:#ff0000;
	text-align:right;
	position:absolute;
	top:340px;
	left:520px;
	width:250px;
}
.kakaku .price {
	font-size:22px;
}
/* サブ写真エリア */
div.subbox {
	margin:10px;
}
.subimg {
	float:left;
	background-color:#FDF5D9;
	margin-right:5px;
}
.subimg img {
	margin:5px 5px;
}
.submemo {
	float:left;
	width:200px;
	padding:5px;
}
/* 取扱い店舗情報エリア */
div.shopbox {
	background:url("image/shop.gif") no-repeat;
	padding:44px 20px 0px 20px;
	margin:30px 40px 10px 40px;
	height:155px;
}
.subshopname {
	font-size:10px;
}
.shopname {
	font-size:14px;
	font-weight:bold;
}
.shopkana {
	font-size:10px;
}
.shopcom {
	float:left;
}
p.shopimg {
	float:right;
	width:160px;
}