/*
** テーブル用
**  - ザイオン用(請求支払依頼書アプリ)
*/
.printview{
    border-collapse: collapse;
    font-size:18px;
}
.printview th{
    text-align: center;
    vertical-align: top;
    color: #333;
    background-color: #eee;
    border: 1px solid #b9b9b9;
}
.printview td{
    padding: 6px;
    background-color: #fff;
    border: 1px solid #b9b9b9;
}


/*
** 要素の横並び
**  - ダンクソフト用
*/
.main {
    width: 100%;
}
.pdftable {
    border-collapse: collapse;
    border:1px solid gray;
    width: 80%;
    margin-bottom: 20px;
    margin-left: 100px;
}
.pdftable td{
    border:1px solid gray;
    text-align: center;
}
.parts {
    margin-top:10px;
    margin-bottom:10px;
    border:1px solid gray;
}
.box {
    float: left;
    width: 130px;
    margin-left: 100px;

    border:1px solid gray;
    padding:5px;
    margin-bottom:10px;
}
.boxContainer {
    overflow: hidden;
    text-align: center;
    padding-top: 10px;
    width: 80%;
    margin: 0 auto;
}
/* clearfix */
.boxContainer:before,
.boxContainer:after {
    content: "";
    display: table;
}
.boxContainer:after {
    clear: both;
}
/* For IE 6/7 (trigger hasLayout) */
.boxContainer {
    zoom: 1;
}
